<div class="side-menu">
    <img class="profile-pic" src="/assets/img/ally/ally.jpg" alt="Ally">
    
    <a id="name" href="/">Maria Alexandra<br>Theodorescu</a>

    <a class="menu-item" href="/about">About</a>
    <a class="menu-item" href="/resume">Resume</a>
    <a class="menu-item" href="/blog">Blog</a>
    <a class="menu-item" href="/visual-arts">Visual Arts</a>
    <a class="menu-item" href="/contact">Contact</a>


    <div class="icons">
        <a data-content="LinkedIn" data-placement="top" href="https://www.linkedin.com/in/alexandra-theodorescu" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a data-content="Github" data-placement="top" href="https://github.com/allyth" target="_blank"><i class="fab fa-github"></i></a>
        <a data-content="Contact Page" data-placement="top"href="/contact" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>

    <script>
        $(function () {
            $('div.icons a').popover({
                trigger: 'hover focus'
            })
        })
    </script>

    <script>
        function contactIconAnimation() {
        $('.side-menu .icons a > i.fa-envelope')
            .css('animation', 'none')
            .outerHeight();
        
        $('.side-menu .icons a > i.fa-envelope')
            .css('animation', 'jump 1.5s 3');
        }
        setTimeout(contactIconAnimation, 30000);
        setTimeout(contactIconAnimation, 80000);
    </script>
</div>