<div class="side-menu">
    <img class="profile-pic" src="/assets/img/ally/ally.jpg" alt="Ally">
    <a id="name" href="/">Maria Alexandra<br>Theodorescu</a>
    <div class="divider"></div>
    <a class="menu-item" href="/about.html">About</a>
    <a class="menu-item" href="/blog.html">Blog</a>
    <a class="menu-item" href="/visual-arts.html">Visual Arts</a>
    <a class="menu-item" href="/contact.html">Contact</a>

    <div class="divider"></div>

    <div class="icons">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
    </div>

    <div class="dots">
        <div class="divider circle"></div>
        <div class="divider circle"></div>
    </div>
</div>