<div class="side-menu">
    <img class="profile-pic" src="/assets/img/ally/ally.jpg" alt="Ally">
    <a id="name" href="/">Maria Alexandra<br>Theodorescu</a>
    <div class="divider"></div>
    <a class="menu-item" href="/about">About</a>
    <a class="menu-item" href="/blog">Blog</a>
    <a class="menu-item" href="/visual-arts">Visual Arts</a>
    <a class="menu-item" href="/contact">Contact</a>

    <div class="divider"></div>

    <div class="icons">
        <a href="https://www.linkedin.com/in/alexandra-theodorescu" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/allyth" target="_blank"><i class="fab fa-github"></i></a>
        <a href="/contact" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>

    <div class="dots">
        <div class="divider circle"></div>
        <div class="divider circle"></div>
    </div>
</div>