<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

    <link rel="icon" href="/assets/img/ally/favicon.png">
    <link rel="stylesheet" href="/assets/img/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/ekko/ekko-lightbox.css">
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/ekko/ekko-lightbox.min.js"></script>
  </head>
  <body>
    {{content}}

    <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>

    <script>
      // Alternate the height of home container between 100% 
      // and the height of the side menu to ensure the background image
      // covers the full height of the window.
      function resizeMenuContainer() {
          if ($(".side-menu").height() < $(window).height()) {
            $("#home-container").css("justify-content", "center");
            $("#home-container").css("height", "100%");
            $("#left-sidebar").css("justify-content", "center");
            // console.log('100%');
          } else {
            $("#home-container").css("justify-content", "start");
            $("#home-container").css("height", $(".side-menu").height());
            $("#left-sidebar").css("justify-content", "start");
            // console.log($(".side-menu").height());
          }
      }

      resizeMenuContainer();
      // $(document).ready(resizeMenuContainer);
      $(window).resize(resizeMenuContainer);
  </script>
  
    {% include analytics.html %}
  </body>
</html>
